@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --white: #f2f2f2;
    --dark-grey: #2c2c2c;
    --darkest-gray: #202020;
    --primary: #1f004e;
    --secondary: #7447bc;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    background-color: var(--white);
    color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

header {
    width: 100%;
    height: 100px;
    background: var(--dark-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    color: var(--white);
}

.header h1 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0.5rem 0;
}

.header h1 span {
    color: var(--secondary);
}

.search-container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.query {
    width: 100%;
    max-width: 300px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    border: none;
    border-radius: 8px;
    padding: 0.8rem;
    margin-right: 1rem;
    font-size: 14px;
    color: var(--darkest-gray);
}

.query:focus {
    background: var(--white);
    outline: none;
    transition: background 0.5s;
}

.query::-webkit-input-placeholder {
    color: var(--white);
    font-weight: bold;
}

button {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background: var(--primary);
    color: var(--white);
    cursor: pointer;
}

button:hover {
    background: var(--white);
    color: var(--primary);
    transition: background 0.5s;
}

main {
    width: 100%;
    padding: 2rem;
}

.user-info {
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-avatar, .repo {
    max-width: 600px;
    margin: auto;
    background-color: var(--white);
    width: 100%;
    border: solid 1px var(--dark-grey);
    border-radius: 8px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.user-avatar:hover, .repo:hover {
    color: var(--white);
    background-color: var(--darkest-gray);
    border: solid 1px var(--white);
    transition: background 0.5s;
}

.user-login {
    opacity: 0.8;
    margin-bottom: 1rem;
    font-weight: bold;
}

.avatar_img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 1.5rem 0;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.avatar_img:hover {
    border-radius: 0%;
    transform: scale(1.1) translateY(-5px);
    transition: 0.5s;
}

.user-stats {
    color: var(--darkest-gray);
    width: 100%;
    max-width: 600px;
    display: flex;
    margin: 1rem 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.repo {
    border: solid 1px var(--darkest-gray);
    border-radius: 8px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.repo h3 {
    margin-bottom: 1.5rem;
    text-align: left;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: bold;
}

.repo-description {
    text-align: left;
    margin-bottom: 1rem;
    color: var(--white);
}

.repo-language {
    opacity: 0.8;
    margin-bottom: 1rem;
    text-align: left;
    font-size: 0.9rem;
}

.repo-stats, .repo a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    padding: 1rem 0;
    line-height: 1.8rem;
}

.repo a {
    text-decoration: none;
    word-break: break-all;
    color: var(--primary);
    cursor: pointer;
    font-weight: bold;
}

